<div class="question">
  <%= @question %>
  <br>
  <%= '- You' %>
</div>
<br>
<div class="answer">
  <%= @answer %>
  <br>
  <%= "- Your coach" %>
</div>
<br>
<br>
<%= link_to "Ask a new question", "/" %>
